{%load static%}
<nav class="navbar-1-4  navbar navbar-expand navbar-dark p-4 " data-aos="zoom-in">
        <div class="container">
            <img style="width:10%;" src="{% static "img/logo2.png"%}" alt="">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                <a class="nav-link px-md-4 active" aria-current="page" href="#">Connection</a>
                </li>
                <li class="nav-item">
                <a class="nav-link px-md-4" href="#">About</a>
                </li>
                <li class="nav-item">
                <a class="nav-link px-md-4" href="#">Contacts</a>
                </li>
                <li class="nav-item">
                <a class="nav-link px-md-4" href="#">Teams</a>
                </li>
                <li class="nav-item">
                <a class="nav-link px-md-4" href="#">Circulation</a>
                </li>
            </ul>
            <div class="d-flex">
                <a class="btn btn-get-started btn-get-started-purple text-white" href="/admin">Get Started</a>
            </div>
            </div>
        </div>
    </nav>